body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: "Sodo Sans Semibold",Helvetica Neue,Helvetica,Arial,sans-serif;
}
nav{
   
    max-width: 1560px;
    position: relative;  
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}
.product-title{
    font-size: 40px;
   }
.container{
    margin: auto;
    display: flex;
 
    max-width: 100%;
    line-height: 80px;
    z-index: 100;
}
.espaciado{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: bisque;
}
.container-logo{
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;

}
.links  .link {
    display: inline-block;
}
.links  .link a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin: 0 25px;
    letter-spacing: 3px;
    transition: .3s;
    text-transform: uppercase;
}
.links  .link a:hover {
    color: #00754a;
}

.toggle{
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
   display: none;
}
.sing-in,
.join-now {
margin: 5px;
padding: 10px 20px ;
border-radius: 40px;
    border: 1px solid black;
    font-weight: 500;
}




.product-button{
    margin-top: 40px;
}



.container-logo svg {
    width: 50px;
    margin-right: 20px;
}

.navbar-container{
/*para poner un peque;o sombreado al cuadro del navbar la pagina es box shadow generador */
box-shadow: 1px 3px 5px 0px rgba(191,122,122,0.75);
-webkit-box-shadow: 1px 3px 5px 0px rgba(191,122,122,0.75);
-moz-box-shadow: 1px 3px 5px 0px rgba(191,122,122,0.75);
width: 100%;

}
.nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}
.navbar{
    max-width: 1560px;
    padding: 20px;
    font-size: 14px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}

.navbar-left div { 
    /* esto hace que la letra sea mas gruesa  */
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-left div:hover,.find-a-store:hover {
    color: #00754a;
} 

 .navbar-rigth {
    display: flex;
    align-items: center;
    gap: 10px;
}



.find-a-store{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.join-now {
    background-color: black;
    color: white;
}
.join-now:hover {
    background-color: rgba(0, 0, 0,0.7);
}
.sing-in:hover {
    background-color: rgba(0, 0, 0,0.6);
}
.contanor{
    max-width: 1440px;
    margin: auto;
}
/*terina el navbar*/



.product img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.product{
    display: flex;  
}

.product-left,.product-rigth {
    max-width: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}
.product-title {
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 30px;

    
}
.product-container{
    margin: 40px 0;
    display: flex;
    
}


.product-button{
    border: 1px solid white;
    max-width: max-content; /*su largo maximo que sea todo lo que acapara el contenido */
    border-radius: 40px;
    padding: 5px 20px;
    text-align: center;
    
    margin-bottom: 30px;
    
}
.product-button-withe{
    color: white;
}
.product-button-black{
    color: black;
    border-color: black;
}
.product-description{
    text-align: center;
    padding: 30px 60px;
    font-size: 18px;
}
.rotate {
    transform: rotate(180deg);
}
/* 
  ----------------------------------si es menor a 380--------------------------- */
  @media only screen and (max-width: 380px){
   
   .toggle{
    display: inline-block;
    padding: 10px;
    font-size: 24px;
   }
   .links{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: .5s;
    overflow: hidden;
    height: calc(100vh  );
    width: 30vh;
    z-index: 1;
    top: -100vh;
    
   
   }
   .active{
    top: 87px;
   }
   
   
   .navbar-rigth{
    display: none;
   }
   /*contanor*/
   .product{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
    padding: 0;
   }
   .product img{
    max-width: 200%;
   }
   .product-description{
    padding: 10px 0px;
    max-width: max-content;
    margin: 25px;
    
   }
   .product-left{
   
    min-width: 100%;
   
   }
   .product-title{
    font-size: 24px;
   }

   
   
   



  }






















